.DS_Store
node_modules
.env
dist
.next
out
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.sqlite
*.sqlite-journal
.idea
.vscode
*.log
*.tsbuildinfo
*.local
*.cache
*.swp
*.swo
*.tgz
*.test.ts.snap
*.test.js.snap
*.snap
*.env.*
/api/dist
/web/.next
/web/out
/web/node_modules
/api/node_modules
/web/coverage
/api/coverage